

        i {
            margin-top: 3%;
            color: red;
            font-size: 8em;
        }

        .btn {
            background-color: #0d6efd
;
            color: white;
            border: none;
            width: 40%;
            padding: 6px 5px;
            border-radius: 5px;
            font-size: 1em;
        }
        .btn:hover {
            background-color: #0d6effb4;
            color: white;
  }

